:root {
  --color-gray: #6E6F73;
  --color-gray-lighter: #87898C;
  --color-gray-lightest: #CCCFD9;
  --color-white: #F2F2F2;
  --color-yellow: #F2C744;
  --color-black: #272727;
}
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Heebo', 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}


header,
nav,
footer {
	display: flex;
  flex-flow: row wrap;
	justify-content: center;
	align-content: center;
  width: 100%;
	max-width: 100%;
}

/* header */
header {
  padding: 0;
}

header h1 {
  align-items: center;
  background-color: var(--color-yellow);
  color: var(--color-black);
  display: flex;
  font-size: 2rem;
  line-height: 1;
  margin: 0 0 3rem 0;
  max-width: 100%;
  padding: 0.8rem;
  width: 100%;
}

header img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
/* main */
main {
  padding: 1rem 5%;
  width: 100%;
  max-width: 100%;
  flex: 1;
}
@media screen and (min-width:40em) {
  main {
    padding: 2rem 10%;
  }
}
.intro {
  font-size: 1.5rem;
}
a, a:visited {
  color: var(--color-yellow);
}
a:hover {
  text-decoration-style: dashed;
}

p, dd {
  font-size: 1.25rem;
  font-weight: normal;
}

dl dt {
  color: var(--color-yellow);
  font-weight: bold;
  font-size: 1.5rem;
}

/* footer */
footer {
  color: var(--color-gray-lightest);
  padding: 1rem 5%;
}
@media screen and (min-width:40em) {
  footer {
    padding: 2rem 10%;
  }
}